div.is-marginless.columns(v-cloak="")

  div.column.is-10.is-offset-1.message.hero.is-fullheight#message-pane

    div.columns.is-gapless.is-mobile.is-vertical-center
      div.column.is-1.modal-button(
        data-target="modal-h" 
        aria-haspopup="true"
      )
        figure.image
          img(
            src="/static/assets/images/logo.png"
          ) 
      p.column.is-10.has-text-centered.has-text-link.has-text-weight-bold.modal-button(
        data-target="modal-q" 
        aria-haspopup="true"
      ) Créez avec nous l'IA qui parle français
      p.column.is-1.has-text-right.has-text-link
        a.navbar-item(
            href="/logout"
        )
          span.icon
            i.fas.fa-sign-out-alt
      p.column.is-1
        
    div.columns
      div.column
        block annotation-area

      div.column(v-if="documentMetadata != null && documentMetadata.documentSourceUrl != null")
        preview(v-bind:url="documentMetadata.documentSourceUrl")

  div.modal#modal-h
    div.modal-background
      div.modal-content
        a.button Home
      button.modal-close.is-large(
        aria-label="close"
        )


  div.modal#modal-q
    div.modal-background
      div.modal-content
        a.button Retour
      button.modal-close.is-large(
        aria-label="close"
        )

  div.modal#modal-r
    div.modal-background
      div.modal-content
        a.button Retour
      button.modal-close.is-large(
        aria-label="close"
        )
